<div class="container">
  <div class="row">
    <div class= "col col-md-6 offset-md-3 col-sm-10 offset-sm-1">
      <div class="login">
        <div class="row">
          <h1 class="col-10 form_header">Edit Employee</h1>
          <%= link_to 'Show', @employee, class: "col-2", class: "btn btn-primary btn-sm" %>
        </div>
      <% if alert %>
        <p class="alert alert-danger"><%= alert %></p>
      <% end %>
      <%= render 'form', employee: @employee %>
    </div>
  </div>
  </div>
</div>
