<div class="container">
  <div class="row">
    <div class= "col col-md-8 offset-md-2 col-sm-10 offset-sm-1">
      <div class="login">
      <h1 class="form_header">Add New Bill</h1>
      <% if alert %>
        <p class="alert alert-danger"><%= alert %></p>
      <% end %>
      <%= render 'form', bill: @bill %>
    </div>
  </div>

  </div>

</div>


<%= link_to 'Back', bills_path %>
